<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="platformEventReportJob" class="org.appng.application.manager.job.PlatformEventReportJob">
		<property name="jobDataMap">
			<map>
				<entry key="enabled" value="true" />
				<entry key="runOnce" value="true" />
				<entry key="interval" value="DAY" />
			</map>
		</property>
	</bean>

	<bean id="databaseReportJob" class="org.appng.application.manager.job.DatabaseReportJob">
		<property name="jobDataMap">
			<map>
				<entry key="enabled" value="true" />
				<entry key="runOnce" value="true" />
				<entry key="interval" value="WEEK" />
			</map>
		</property>
	</bean>

	<bean id="logDatabaseSize" class="org.appng.application.manager.job.LogDatabaseSize">
		<property name="jobDataMap">
			<map>
				<entry key="enabled" value="true" />
				<entry key="runOnce" value="true" />
				<entry key="cronExpression" value="0 0 1 1/1 * ? *" />
			</map>
		</property>
	</bean>

</beans>
